.cards{
    border: 0.5px solid black;
    border-radius: 0;
}
.container-cards{
    max-width: 1080px;
}
.btn{
    align-self: center;
    background-color: black;
    color: white;
}
.btn:hover{
    background-color: black;
    color: white;
}

.card{
    border-radius: 0;
}