.home-container{
    display: flex;
    flex-direction: row;
}
.linea{
    border-bottom: 1.5px solid black;
}
.home-title{
    padding: 5rem 2rem 1rem 0;
    font-size: 4rem;

}
.text-home{
    font-size: 1.2rem;
}
.btn:hover {
    background-color: black;
    color: white;
}

@media screen and (max-width: 1200px){
    .home-container{
        display: flex;
        flex-direction: column;
    }
    .home-title{
        text-align: center;
    }
}