.nav-item{
    flex-basis: 100%;
}

.nav-drop{
    flex-basis: content;
}

.nav-link{
    color: black;
    font-weight: 600;
}

.dropdown-item{
    color: black;
    font-weight: 600;
    font-size: 1.1rem;
}

.nav-link:hover{
    border-bottom: 1px solid black;
    
}

@media screen and (max-width:720px ) {
    .nav-ham{
        flex-basis: 40%;
        justify-self: end;
    }
}